/*FONTS*/

@font-face {
  font-family: 'open_sansbold';
  src: local('OpenSans-Bold-webfont'), url('./fonts/OpenSans-Bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'open_sanssemibold';
  src: local('OpenSans-Semibold-webfont'), url('./fonts/OpenSans-Semibold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'open_sansextrabold';
  src: local('OpenSans-ExtraBold-webfont'), url('./fonts/OpenSans-ExtraBold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'open_sansregular';
  src: local('OpenSans-Regular-webfont'), url('./fonts/OpenSans-Regular-webfont.woff') format('woff');
}

/*MAIN CSS*/

* {
  -webkit-margin-before:0;
  -webkit-margin-after:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'open_sanssemibold', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5rem;
  color: #546e7a;
}

.container {
  width: 720px;
	max-width: 100%;
	margin: 0 auto;
  padding: 4rem 0;
}

h1 {
  font-family: 'open_sansextrabold', Helvetica, sans-serif;
  font-size: 6rem;
  color: #7eceb9;
  letter-spacing: -1px;
  padding: 0 0 4rem 0;
}

h2 {
  font-family: 'open_sansbold';
  font-size: 2rem;
  text-transform: uppercase;
  display: inline;
  background-color: #7eceb9;
  color: #fff;
  padding: 0.2rem 0.6rem;
  letter-spacing: 0.6rem;
  line-height: 3rem;
}

a {
  text-decoration: none;
  color: #546e7a;
}

a:hover {
  color: #607d8b;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  line-height: 2rem;
  font-family: 'open_sansbold';
}

p {
  padding: 4rem 0 0 0;
}

.single-item {
  padding-top: 2rem;
}

.search > input {
  border-color: #7eceb9;
  padding: 0.6rem;
  outline: none;
  border-style: solid;
  color: #607d8b;
  font-family: 'open_sansregular';
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 60%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #607d8b;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #607d8b;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #607d8b;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #607d8b;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #607d8b;
}

/*.spinner {
  background: #607d8b;
}*/

.react-progress-bar-percent {
  height: 2px;
  background: #7eceb9;
  box-shadow: 0 0 0 0;
  transition: all 200ms ease;
}

.pagination > li {
  display: inline;
  padding: 1rem;
}

.pagination > li:active {
  color: #7eceb9;
}
